* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../imagem/plano_fundo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    font-family: Century Gothic, sans-serif;
    font-weight: bold;
}

.topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    background-color: transparent;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    height: 110px;
    transition: 0.3s;
}

.logo:hover {
    transform: scale(1.05);
}

.menu {
    justify-content: center;
    flex: 1;
    display: flex;
}

.opcao {
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;
}


a {
    text-decoration: none;
    color: #F7F8F0;
    font-weight: 500;
    font-size: 16px;
}

.menu a{
    position:relative;
    text-decoration:none;
    font-size:17px;
    transition: font-size 0.3s ;
}

.menu a:hover{
    text-shadow: 0 0 15px #F7F8F0;
    font-weight: bold;
    font-size: 20px;
}

.menu a:hover::after{
    width:100%;
}

.menu a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-6px;
    width:0%;
    height:2px;
    background:#F7F8F0;
    transition:0.3s;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    color: #F7F8F0;
    display: inline-block;
    margin-top: 40vh;
    margin-left: 250px;
}

.texto {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 32px;
}

.botao {
    margin-top: 20px;
    border-radius: 30px;
    background-color: #355872;
    width: 45%;
    height: 50px;
    text-align: center;
    padding: 14px;
    font-weight: bold;
    margin-left: 100px;
    transition: 0.3s;
    cursor: pointer;
}

.botao:hover {
    transform: scale(1.05);
    background-color: #7AAACE;
    box-shadow: 0 0 15px #F7F8F0;
}

.container-footer {
    color: #F7F8F0;
    display: inline-block;
    margin-left: 450px;
    justify-content: center;
    align-items: center;
}

.main-footer {
    background-color: #487da3;
    color: #F7F8F0;
    padding: 40px 0;
}

.row {
    display: flex;
    list-style: none;
    font-size: 18px;
    color: #F7F8F0;
}

.row h4 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #F7F8F0;
    cursor: default;
}

.col-footer {
    list-style-type: none;
    font-size: 18px;
    padding: 20px;
    justify-content: space-between;
    font-weight: lighter;
}

.col-footer li {
    list-style-type: none;
    margin-top: 15px;
}

.col-footer i {
    margin-right: 10px;
}

.sp {
    font-weight: bold;
}

.barra {
    background: linear-gradient(360deg,#105688, #487da3 );
    color: #fff;
    align-items: center;
    position: relative;
}

.logo-footer {
    text-align: center;
    justify-content: center;
}

.logo-baixo {
    height: 150px;
    margin-bottom: -50px;

}

.paragrafo-footer {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    justify-content: center;
    flex: 1;
    padding-bottom: 25px;
}